 *,
 *::before,
 *::after {
     box-sizing: border-box;
 }

 * {
     margin: 0;
 }

 @media (prefers-reduced-motion: no-preference) {
     html {
         interpolate-size: allow-keywords;
     }
 }

 body {
     line-height: 1.5;
     -webkit-font-smoothing: antialiased;
     font-family: 'Hanken Grotesk', sans-serif;
     background-color: hsl(225, 100%, 94%);
     min-height: 100vh;
     color: white;
     font-size: 1rem;
 }

 img,
 picture,
 video,
 canvas,
 svg {
     display: block;
     max-width: 100%;
 }

 input,
 button,
 textarea,
 select {
     font: inherit;
 }

 p,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     overflow-wrap: break-word;
 }

 p {
     text-wrap: pretty;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     text-wrap: balance;
 }

 #root,
 #__next {
     isolation: isolate;
 }

 .card {
     background-color: white;
     width: 100%;
     transition: all 0.3s ease;
 }

 .result {
     background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
     border-radius: 0 0 20px 20px;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 1rem 3rem;
     gap: 1.5rem;
 }

 .result h1 {
     font-size: 1.125rem;
     color: hsl(241, 100%, 89%);
 }

 .result .score {
     display: flex;
     flex-direction: column;
     align-items: center;
     background: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
     border-radius: 50%;
     width: 10rem;
     height: 10rem;
     justify-content: center;
 }

 .result .number {
     font-size: 3.5rem;
     font-weight: 800;
     color: hsl(0, 0%, 100%);
 }

 .out-of {
     color: hsl(241, 100%, 89%);
 }

 .performance {
     text-align: center;
     display: flex;
     flex-direction: column;
     gap: 0.25rem;
 }

 .performance h2 {
     font-weight: 700;
     font-size: 1.5rem;
 }

 .performance p {
     color: hsl(241, 100%, 89%);
     padding-bottom: 1rem;
 }

 .summary {
     padding: 1rem 2rem;
     display: flex;
     flex-direction: column;
     gap: 1.25rem;
 }

 .summary h1 {
     color: hsl(224, 30%, 27%);
     font-size: 1.25rem;
 }

 .summary .score {
     font-weight: 700;
     color: hsl(224, 30%, 27%);
 }

 .category {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 1rem;
     border-radius: 0.5rem;
 }

 .label {
     display: flex;
     align-items: center;
     gap: 0.5rem;
     font-weight: 700;
 }

 .reaction {
     background-color: hsl(0, 100%, 67%, 0.07);
     color: hsl(0, 100%, 67%);
 }

 .memory {
     background-color: hsl(39, 100%, 56%, 0.07);
     color: hsl(39, 100%, 56%);
 }

 .verbal {
     background-color: hsl(166, 100%, 37%, 0.07);
     color: hsl(166, 100%, 37%);
 }

 .visual {
     background-color: hsl(234, 85%, 45%, 0.07);
     color: hsl(234, 85%, 45%);
 }

 .continue {
     background-color: hsl(224, 30%, 27%);
     color: white;
     width: 100%;
     padding: 1rem;
     border: none;
     border-radius: 2rem;
     font-size: 1rem;
     font-weight: 700;
     cursor: pointer;
     transition: background-color 0.3s ease;
 }

 .continue:hover {
     background-color: hsl(241, 81%, 54%);
 }

 @media (min-width: 1024px) {
     body {
         display: flex;
         justify-content: center;
         align-items: center;
     }

     .card {
         display: flex;
         flex-direction: row;
         width: 60%;
         max-width: 700px;
         border-radius: 1.5rem;
         box-shadow: 0 10px 20px hsl(224, 30%, 27%, 0.2);
     }

     .result {
         border-radius: 1.5rem;
         width: 50%;
         padding: 2rem;
         gap: 2rem;
     }

     .result h1 {
         font-size: 1.25rem;
     }

     .result .score {
         width: 13rem;
         height: 13rem;
     }

     .result .number {
         font-size: 5rem;
     }

     .performance h2 {
         font-size: 2rem;
     }

     .performance p {
         font-size: 1.25rem;
     }

     .summary {
         width: 50%;
         padding: 2rem 1.5rem;
         gap: 2rem;
     }
 }